*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(156, 149, 158);
   flex-shrink: 0;
   box-sizing: border-box;

}

.navbar{
    display: flex;
    justify-content:flex-end;       
    margin-right: 30px;
    
    
}
ul{
    display: flex;
    gap: 30px;
}
:root{
    scroll-behavior: smooth;
}
#Home{
    height:100vh;
    width: 100vw;

}
   
#About{
    height: 100vh;
    width: 100vw;
   
}
#Portfolio{
    height: 100vh;
    width: 100vw;
    
}
#Experience{
    height: 100vh;
    width: 100vw;
   
}
#Contact{
    height: 100vh;
    width: 100vw;

}
.home-page{
    display: flex;
    margin: auto;
    gap: 20px  ;
    justify-content: center;
    margin-top: 200px;
}
.sents{
    text-align: center;
}

   
.home-para{
    height: 400px;
    width: 300px;
    display: flex;
   flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    text-align: justify;
   
  
}
.profile-img{
    height: 400px;
    width: 500px;
    display: flex;
    padding: 20px;
  
}
.portbutton{
    height: 35px;
    width: 80px;
    background-color: rgb(44, 131, 162);
    border-radius: 10%;
    margin-left: 10px;
    border: 0px;
    border-radius: 5px;
}
.about-page{
    margin-top : 200px;
margin-left: 350px;
 
}
.about-para{
    height: 200px;
    width: 600px;
    justify-content: center;
    margin-top: 30px;
    text-align: justify;

 
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    border-radius: 3px;
    top: 16rem;
    left: -24rem;
    padding: 5px;
    background-color: rgb(183, 130, 166);
}
.logo{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
    
}
 #Portfolio{
    height: 100vh;
    width: 100vw;
    flex-shrink: 0px;
    
}
.port-container1{
    gap: 30px;
    padding-left: 350px;
    display: flex;
    border-radius: 10px;
    box-shadow:white ;

}
.port-1{
    

}
.photo{
    height: 200px;
    width: 280px;
    display:block;

}
.img2{
    height: 190px;
    width: 280px;
    margin-top: 10px;
    box-shadow: 5px solid blue;
    border-radius: 10px;

}
.but-line{
    display:flex ;
    gap: 0px;
}
.buttton1{
    height: 50px;
    width: 140px;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 2px solid black;

}
.port-cointainer2{
    gap: 30px;
    display: flex;
    padding-left: 350px;
    padding-top: 20px;
    

}
.exp-cointainer1{
    display: flex;
    gap: 30px;
    margin-left: 350px;
}
.exp-box{
    height: 200px;
    width: 280px;
    background-color: black;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 3px orangered;

}
.pic{
    width: 280px;
    height: 190px;
}
.exp-img{
    height: 150px;
    width: 280px;
    border-radius: 10px;
}
.word{
    height: 20px;
    width: 136px;
    background-color: black;
    margin-top: -25px;
    margin-left: 35px;
    color: white;
    padding-left: 75px;
    font-weight: lighter;
    font-size: 1.3rem;
    justify-items: center;
}
.exp-box2{
    height: 200px;
    width: 280px;
    background-color:black;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgb(62, 98, 177);
}
.exp-box3{
    height: 200px;
    width: 280px;
    background-color:black;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgb(234, 223, 64);
}
.exp-cointainer2{
    display: flex;
    gap: 30px;
    margin-left: 350px;
    margin-top: 20px;
}