*{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
 


}
.front-page{
    background-image:linear-gradient(rgba(15, 15, 15, 0.904) ,rgba(0, 0, 0, 0.877)) ,url(https://assets.nflxext.com/ffe/siteui/vlv3/2f5a878d-bbce-451b-836a-398227a34fbf/web/IN-en-20241230-TRIFECTA-perspective_5ab944a5-1a71-4f6d-b341-8699d0491edd_large.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 140px;   
    border-bottom: 3px solid red; 
}
.Bar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 5px;
}
.lang{

}
.net{
    height: 40px;
    width: 150px;
}
.but{
   /* gap: 20px; */
}
.butt1{
    height: 35px;
    width: 120px;
    background-color: rgba(31, 29, 29, 0.753);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}
.butt1:hover{
    background-color: rgba(36, 35, 35, 0.534);
    border: 0px;
}
.butt2{
    height: 35px;
    width: 80px;
    background-color: rgb(241, 30, 30);
    color: white;
    border-radius: 10%;
    margin-left: 10px;
    border: 0px;
    border-radius: 5px;
}
